@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  backgound-image: url("./images/bg-header-desktop.png");
  background-repeat: no-repeat;
  background-size: contain;
}

@media (min-width: 576px) {
  body {
    backgound-image: url("./images/bg-header-mobile.png");
  }
}
